<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>
        问题列表
      </ion-title>
  
      <ion-buttons slot="end">
        <ion-button slot="icon-only" color="royal" (click)="addClick()">
          <ion-icon name="add"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  
  </ion-header>
  
  <ion-content padding>
    <ion-list>
        <ion-item-sliding *ngFor="let item of items">
            <ion-item button="true" (click)="itemSelected(item)">
              {{ item }}
            </ion-item>
            <ion-item-options side="end">
              <ion-button (click)="remove(item)" color="danger">移除</ion-button>
            </ion-item-options>
          </ion-item-sliding>
    </ion-list>
  </ion-content>